[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pydantic = "==2.7.1"
tortoise-orm = {extras = ["asyncpg"], version = "*"}
orjson = "*"
aiohttp = "*"
uvicorn = {extras = ["standard"], version = "*"}
tontools = "*"
jinja2 = "*"
pytonlib = "*"

[dev-packages]
pytest = "*"
isort = "*"
black = "*"
flake8 = "*"
mypy = "*"

[requires]
python_version = "3.11"
