

.balance{
    min-height: 9rem;
    padding: var(--layout-padding);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/icons/balance-bg.svg');
    min-height: 100px;
    background-color: #f7f9fb;
    border-radius: 1rem;
    margin: 1rem 0;
}

.balance-amount{
    color: var(--color-text-secondary);
    font-weight: 600;
    font-size: 1.875rem;
}

.balance-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    margin: 0;
}

.balance-header h2{
    color: var(--color-text-secondary);
    font-size: 1.25rem;
}
.balance-header h2 span {
    color: var(--color-bg-primary);
}

.balance-footer{
    color: var(--color-text-secondary);
    font-weight: 600;
    font-size: 0.65rem;
}


.balance-wallet{
    height: 24px;

}


.balance-wallet:hover{
    cursor: pointer;
}

.balance-body-container{
    margin: 1rem 0;
    text-align: center;
}
