
.coins {
    padding: var(--layout-padding);
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    cursor: pointer;

}


.coin-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.coin-card-title{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.coin-card-title img{
    padding-right: 1rem;
    max-width: 3.25rem;
    width: 3.25rem;
    border-radius: 3rem;
}

.coin-card-title div {
    font-weight: 600;
}

.coin-card-title div .coin-card-title-amount{
    color: var(--color-text-secondary);
    font-weight: 400;
}

.coin-card-amount{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}