:root{

  --color-bg: #fff;
  --color-text-primary: #232328;
  --color-text-secondary: #65656a;
  --color-text-inverse: #fff;
  --color-bg-selected: #f7f9fb;
  --color-bg-primary: #07acff;
  --color-bg-secondary: #6acdff;

  --text-size-primary: 1.25rem;
  --text-size-secondary: 1rem;
  --text-size-small: 1rem;

  --text-weight-medium: 600;
  --text-weight-normal: 400;

  --layout-padding: 22px;



  background-color: var(--color-bg);
  color: var(--color-text-primary);
  font-size: 1rem;
  line-height: var(--text-size-primary);
}

html{
  width: 100vw;
}


.color-primary{
  color: var(--color-text-primary);
}

.color-bg-primary {
  color: var(--color-bg-primary);
}

.color-secondary {
  color: var(--color-text-secondary);
}

.text-primary {
  font-size: var(--text-size-primary);
  color: var(--color-text-primary);
  font-weight: var(--text-weight-medium);
}

.text-secondary{
  font-size: var(--text-size-secondary);
  color: var(--color-text-secondary);
  font-weight: var(--text-weight-normal);
}

.text-small {
  font-size: var(--text-size-small);
  color: var(--color-text-secondary);
  font-weight: var(--text-weight-normal);
  
}

button{
  background-color: var(--color-bg-primary);
  text-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  border: none;
  border-radius: 1.5rem;
  padding: 0.6rem 1.5rem;
  color: var(--color-bg);
  font-size: 1rem;
  font-weight: var(--text-weight-medium);
}

button:hover{
  background-color: var(--color-bg-secondary);
  border-color: var(--color-bg-secondary);
  cursor: pointer;
}

button:disabled {
  background-color: var(--color-text-secondary);
  border-color: var(--color-text-secondary);
  cursor: auto;
}

.btn {
  -webkit-appearance: button;
}

a{
  text-decoration: none;
  color: var(--color-text-primary);
  font-weight: var(--text-weight-medium);
}


a:hover, a:active, a.active{
  color: var(--color-bg-primary);
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

h3{
  font-size: 1.25rem;
  margin: 0.5rem 0;
}

