
html, body{
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
    /* display: flex;
    align-items: start;
    justify-content: center; */
    margin: 0;
    padding: 0;
    -ms-overflow-style: none;
        /* IE and Edge */
    scrollbar-width: none;
        /* mozilla */
}
div{
    margin: 0;
    padding: 0;
}

#root{
    /* display: flex;
    align-items: center;
    flex-direction: column; */
    --backgroud-secondary-color: #F7F9FB;
    --primary-color: #232328;
    --secondary-color: #65656A;
    --accent-color: #07ACFF;

    --bold: 700;
    --semibold: 600;
    --medium: 500;
}